<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Home
    </ion-title> -->
    <ion-buttons slot="end">
      <ion-button color="primary" *ngIf="!requestToken"
        (click)="requestPushNotificationsPermission()">
        Enable Notifications
      </ion-button>
      <ion-button color="success" *ngIf="requestToken">
        Token Generated
      </ion-button>
      <ion-button color="success" (click)="getCurrentPosition()">
        ALLOW LOCATION
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label *ngIf="requestToken">
    <p padding class="selectable">{{ requestToken }}</p>
  </ion-label>
  <ion-button color="success" *ngIf="requestToken" expand="block" (click)="copyToClipboard()">
    Copy Token
  </ion-button>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Upload to Firebase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Now that your app has been created, <b>Upload Image File To Firebase Cloud Storage using AngularFire.</b>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card padding>
    <p>{{ observableNumber$ | async }}</p>
    <p>Latest: {{ latestValue }}</p>
    <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    <progress max="100" [value]="(uploadProgress | async)"></progress>
    <div class="result" *ngIf="downloadURL | async; let uploadSrc">
      <a [href]="uploadSrc">You just uploaded this file!</a>
    </div>
    <section class="control-bar" *ngIf="uploadState | async; let state">
      <ion-button (click)="task.pause()" [disabled]="state === 'paused'">Pause</ion-button>
      <ion-button (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</ion-button>
      <ion-button (click)="task.resume()" [disabled]="state === 'running'">Resume</ion-button>
    </section>
    <div class="container" *ngIf="downloadURL | async; let url">
      <img [src]="url" alt="Image from AngularFireStorage">
    </div>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Firebase CRUD - Create|Read|Update|Delete - Query Demo.</ion-label>
      </ion-list-header>
      <ion-item href="home/employees">
        <ion-icon slot="start" color="primary" name="book"></ion-icon>
        <ion-label color="primary">Employee Create/List 👆</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
